@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap");

.quoteBox {
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: min(100%, 320px);
  padding: 20px 10px;
  margin: 0 auto;
  gap: 1rem;
}
.quoteBox h1 {
  background-color: #ffffff13;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.276);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  backdrop-filter: blur(20px);
}
.quoteBox-info {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.276);
  padding: 1rem;
  border-radius: 1.5rem;
  max-height: 90px;
  min-height: 130px;
  min-width: 300px;
  max-width: 300px;
}

.quoteBox-button {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #ffffff13;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.276);
  font-size: 1rem;
  color: #323946;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
  backdrop-filter: blur(20px);
}

.quoteBox-button:hover {
  box-shadow: none;
}

.quoteBox-author {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff52;
  color: #000;
  font-weight: 500;
  box-shadow: 0 0.5rem 1.5remrgba (0, 0, 0, 0.276);
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-height: 30px;
  min-height: 30px;
  min-width: 300px;
  max-width: 300px;
  backdrop-filter: blur(20px);
}
